## Loop : Something that repeats continuously

## For Loop :

## A for loop is used for iterating over a swquence (that is either a list, a tuple, a dictionary, a set or a string).
## With the for loop we can execute a set of statement, once for each item in a list, tuple, set etc.

## Syntax: 
## for i in collection : 
##    for - loop
##    i - iterator
##    in - membership operator
##    collection - any sequential data type

In [12]:
for i in 1234:

SyntaxError: incomplete input (777499817.py, line 1)

In [14]:
for i in 'Python':
    print(i)

P
y
t
h
o
n

In [16]:
for i in [12,20,30,40]:
    print(i)

12
20
30
40

In [20]:
for t in (10,20,30,40):
    print(t)

10
20
30
40

In [22]:
for t in (10,20,30,40):
    print(t+5)

15
25
35
45

In [24]:
for s in {20,56,56,56,78,90,90,90}:
    print(s)

56
90
20
78

In [32]:
d = {'Name':'Sofy','Roll':111,'Course':'AIML'}

for i in d:
    print(i)

Name
Roll
Course

In [36]:
d.items()

dict_items([('Name', 'Sofy'), ('Roll', 111), ('Course', 'AIML')])

In [40]:
for  i in d.items():
    print(i)

('Name', 'Sofy')
('Roll', 111)
('Course', 'AIML')

In [42]:
for i,j in d.items():
    print(i,'-->',j)

Name --> Sofy
Roll --> 111
Course --> AIML

In [44]:
for i in "This is our AIML class and the class is very hot":
    print(i)

T
h
i
s

i
s

o
u
r

A
I
M
L

c
l
a
s
s

a
n
d

t
h
e

c
l
a
s
s

i
s

v
e
r
y

h
o
t

In [48]:
for i in "This is our AIML class and the class is very hot":
    print(i,end='ðŸ˜¼')

TðŸ˜¼hðŸ˜¼iðŸ˜¼sðŸ˜¼ ðŸ˜¼iðŸ˜¼sðŸ˜¼ ðŸ˜¼oðŸ˜¼uðŸ˜¼rðŸ˜¼ ðŸ˜¼AðŸ˜¼IðŸ˜¼MðŸ˜¼LðŸ˜¼ ðŸ˜¼cðŸ˜¼lðŸ˜¼aðŸ˜¼sðŸ˜¼sðŸ˜¼ ðŸ˜¼aðŸ˜¼nðŸ˜¼dðŸ˜¼ ðŸ˜¼tðŸ˜¼hðŸ˜¼eðŸ˜¼ ðŸ˜¼cðŸ˜¼lðŸ˜¼aðŸ˜¼sðŸ˜¼sðŸ˜¼ ðŸ˜¼iðŸ˜¼sðŸ˜¼ ðŸ˜¼vðŸ˜¼eðŸ˜¼rðŸ˜¼yðŸ˜¼ ðŸ˜¼hðŸ˜¼oðŸ˜¼tðŸ˜¼

In [50]:
for i in(1,2,3,4,5,6,7,8,9,10):
    print(i,end='')

12345678910

## range(): it is a built in function generates a sequence of integers between any given interval.

In [53]:
for i in range(1,100,1):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [55]:
for i in range(1,100,2):
    print(i,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [57]:
for i in range(1,100,1):
    if i%2!=0:
        print(i,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [59]:
for i in range(0,100,2):
    print(i,end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [61]:
for i in range(0,100,2):
    if i%2==0:
        print(i,end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [63]:
#Range in decreasing order
#syntax : range(start,stop-1,stop)
for i in range(100,0,-1):
    print(i,end=' ')

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [93]:
for i in range(200,99,-1):
    if i%3==0:
        print(i,end=' ')

198 195 192 189 186 183 180 177 174 171 168 165 162 159 156 153 150 147 144 141 138 135 132 129 126 123 120 117 114 111 108 105 102

In [37]:
a = int(input("Enter a number : "))
for i in range(1,11,1):
    print(a ,'*' ,i ,':' ,a * i)

Enter a number :  10

10 * 1 : 10
10 * 2 : 20
10 * 3 : 30
10 * 4 : 40
10 * 5 : 50
10 * 6 : 60
10 * 7 : 70
10 * 8 : 80
10 * 9 : 90
10 * 10 : 100

In [1]:
#prime or composite
t = int(input("Enter the num : "))
c = 0

for i in range(2,t):
    if t%i == 0:
        c+=1
        break
if c >= 1:
    print("composite")
elif n==0 or n==1:
    print(f'{t} is the neither prime or nor Composite')
else:
    print("prime")

Enter the num :  56

composite

In [13]:
#to find the factors of a number
n = int(input("Enter the num : "))
print(f'The factors of {n} are :')

for i in range(1,n+1):
    if n%i == 0:
        print(i,end=' ')

Enter the num :  25

The factors of 25 are :
1 5 25

In [15]:
#vowels and consonant
c = input('Enter a character : ')
if c.lower() in 'aeiou':
    print('Vowel')
else:
    print('Consonant')

Enter a character :  A

Vowel

In [31]:
#to find all the vowels present in a string
c = input('Enter a string : ')
for i in c:
    if i.lower() in 'aeiou':
        print(i,end='')

Enter a string :  jello

eo

## Nested for loop : A nested loop is a loop inside a loop.

The "inner loop" will be executed one-time for each iteration of the "Outer loop":

In [35]:
for i in range(1,4):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4

In [52]:
m = int(input("Enter the number : "))
n = int(input("Enter the number : "))
for i in range(m,n+1):
    for j in range(1,11):
        print(f'{i} X {j} = {i*j}')
        print()

Enter the number :  5
Enter the number :  10

5 X 1 = 5

5 X 2 = 10

5 X 3 = 15

5 X 4 = 20

5 X 5 = 25

5 X 6 = 30

5 X 7 = 35

5 X 8 = 40

5 X 9 = 45

5 X 10 = 50

6 X 1 = 6

6 X 2 = 12

6 X 3 = 18

6 X 4 = 24

6 X 5 = 30

6 X 6 = 36

6 X 7 = 42

6 X 8 = 48

6 X 9 = 54

6 X 10 = 60

7 X 1 = 7

7 X 2 = 14

7 X 3 = 21

7 X 4 = 28

7 X 5 = 35

7 X 6 = 42

7 X 7 = 49

7 X 8 = 56

7 X 9 = 63

7 X 10 = 70

8 X 1 = 8

8 X 2 = 16

8 X 3 = 24

8 X 4 = 32

8 X 5 = 40

8 X 6 = 48

8 X 7 = 56

8 X 8 = 64

8 X 9 = 72

8 X 10 = 80

9 X 1 = 9

9 X 2 = 18

9 X 3 = 27

9 X 4 = 36

9 X 5 = 45

9 X 6 = 54

9 X 7 = 63

9 X 8 = 72

9 X 9 = 81

9 X 10 = 90

10 X 1 = 10

10 X 2 = 20

10 X 3 = 30

10 X 4 = 40

10 X 5 = 50

10 X 6 = 60

10 X 7 = 70

10 X 8 = 80

10 X 9 = 90

10 X 10 = 100

## Pattern print

In [58]:
row = int(input("Enter number of rows : "))
for i in range(1,row+1):
    print('*' * i)

Enter number of rows :  5

*
**
***
****
*****

In [5]:
row = int(input("Enter number of rows : "))
for i in range(row,0,-1):
    print('*' * i)

Enter number of rows :  5

*****
****
***
**
*

In [11]:
row = int(input("Enter number of rows : "))
for i in range(1,row):
    print('* ' * i)
for i in range(row,0,-1):
    print('* ' * i)

Enter number of rows :  5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [15]:
row = int(input('Enter number of rows : '))
for i in range(1,row+1):
    print('* ' * row)

Enter number of rows :  5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [19]:
l = int(input("Enter legth : "))
b = int(input("Enter breadth : "))

for i in range (1,b+1):
    print('* ' * l)

Enter legth :  5
Enter breadth :  4

* * * * *
* * * * *
* * * * *
* * * * *

In [21]:
row = int(input('Enter number of rows : '))
c = 1
for i in range(row,0,-1):
    print(' '*i,'* '*c)
    c+=1

Enter number of rows :  5

      *
     * *
    * * *
   * * * *
  * * * * *

In [25]:
row = int(input('Enter number of rows : '))
c = 1
for i in range(row,0,-1):
    print(' '*i,'* '*c)
    c+=1
for i in range(0,row+1):
    print(' '*i,'* '*c)
    c-=1

Enter number of rows :  5

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *